<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div ng-app="myApp" style="border:3px solid green;">
	<div ng-controller="FirstCtrl" style="border:4px solid red;">
		DefinedName:<input ng-model="firstName"><br>
		ShowName:<span ng-bind="firstName"></span>
	</div>
	<div ng-controller="SecondCtrl" style="border:2px dotted blue">
	DefinedName:<input ng-model="firstName"><br>
		ShowName:<span ng-bind="firstName"></span>
		</div>
		<div ng-controller="ThirdCtrl" style="border:2px dotted orange">
	DefinedName:<input ng-model="firstName"><br>
		ShowName:<span ng-bind="firstName"></span>
		</div>

	DefinedName:<input ng-model="firstName"><br>
	ShowName:<span ng-bind="firstName"></span>
	
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script type="text/javascript">
	angular.module("myApp",[])
	angular.module("myApp").controller("FirstCtrl", function($scope){

	});
	angular.module("myApp").controller("SecondCtrl", function($scope){
	});
	angular.module("myApp").controller("ThirdCtrl", function($scope){
	});
</script>

</body>
</html>